In [1]:
import pandas as pd
import sqlite3
import re

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

### 1-Cleaning zipcodes of zip_cbsa file

In [3]:
db = sqlite3.connect('../data/nppes_lite.sqlite') #reopen the connection

query = """
SELECT * 
FROM zip_cbsa
"""
zip_cbsa = pd.read_sql(query,db)

db.close()

In [4]:
zip_cbsa.head()

     zip   cbsa  res_ratio  bus_ratio  oth_ratio  tot_ratio
0  00501  35620        0.0        1.0        0.0        1.0
1  00601  38660        1.0        1.0        1.0        1.0
2  00602  10380        1.0        1.0        1.0        1.0
3  00603  10380        1.0        1.0        1.0        1.0
4  00604  10380        1.0        1.0        1.0        1.0

In [5]:
### Drop columns
zip_cbsa = zip_cbsa.drop(["res_ratio", "bus_ratio", "oth_ratio"], axis=1)

In [6]:
zip_cbsa.dtypes

zip           object
cbsa           int64
tot_ratio    float64
dtype: object

In [7]:
zip_cbsa.describe()

               cbsa     tot_ratio
count  47424.000000  47424.000000
mean   46799.180373      0.831878
std    31193.742860      0.341268
min    10100.000000      0.000027
25%    24060.000000      0.964681
50%    36740.000000      1.000000
75%    48900.000000      1.000000
max    99999.000000      1.000000

In [8]:
### check the zip values
#zip_cbsa["zip"].value_counts()

In [9]:
### Sort values
zip_cbsa = zip_cbsa.sort_values(['zip', 'tot_ratio'], ascending=[False, False])

In [10]:
## Keep only the highest ratio
zip_cbsa = zip_cbsa.drop_duplicates(subset='zip', keep='first')

In [11]:
zip_cbsa.shape

(39451, 3)

In [12]:
zip_cbsa.describe()

               cbsa     tot_ratio
count  39451.000000  39451.000000
mean   46439.739677      0.981053
std    30845.636665      0.068706
min    10100.000000      0.337094
25%    24340.000000      1.000000
50%    36740.000000      1.000000
75%    48260.000000      1.000000
max    99999.000000      1.000000

### Cleaning zipcodes from Nppes file

In [13]:
db = sqlite3.connect('../data/nppes_lite.sqlite') #reopen the connection

query = """
SELECT * 
FROM nppes
"""
nppes = pd.read_sql(query,db)

db.close()

In [14]:
nppes.shape

(115486, 15)

In [15]:
nppes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115486 entries, 0 to 115485
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   npi                  115486 non-null  int64
 1   entity_type_code     115486 non-null  float64
 2   org_name             24501 non-null   object
 3   last_name            90982 non-null   object
 4   first_name           90985 non-null   object
 5   middle_name          62237 non-null   object
 6   name_prefix          34723 non-null   object
 7   name_suffix          2915 non-null    object
 8   provider_credential  74398 non-null   object
 9   address_1            115486 non-null  object
 10  address_2            26571 non-null   object
 11  city                 115486 non-null  object
 12  state                115486 non-null  object
 13  zip                  115486 non-null  float64
 14  taxonomy_code        115486 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 13.2+ MB

In [16]:
#nppes["zip"].value_counts()

In [17]:
### float to object conversion for zip column
nppes['zip'] = nppes['zip'].astype(str)

In [18]:
### Remove .0
nppes['zip'] = nppes['zip'].str.replace('\.0','')

/Users/armelleleguelte/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [19]:
### Some zipcodes are less than 9, add 0 if it's the case
def zip_finder(zips):
    if len(zips)==9:
        return zips[:5]
    if len(zips)==8:
        return '0'+zips[:4]
    if len(zips)==7:
        return '00'+zips[:3]
    if len(zips)==5:
        return zips
    if len(zips)==4:
        return '0'+zips
    if len(zips)==3:
        return '00'+zips
    else:
        return 'no real zip'

In [20]:
nppes["zip"] = nppes.zip.apply(zip_finder)
nppes = nppes[nppes.zip!="no real zip"]

In [21]:
nppes.head()

,npi,entity_type_code,org_name,last_name,first_name,middle_name,name_prefix,name_suffix,provider_credential,address_1,address_2,city,state,zip,taxonomy_code
0,1841293891,1.0,None,GIBBS,ELMER,RICKEY,DR.,None,M.D.,49 CLEVELAND ST 310,None,CROSSVILLE,TN,38555,208600000X
1,1659374601,1.0,None,OBERDICK,WENDY,TIPTON,None,None,MD,105 W STONE DR,STE 1F,KINGSPORT,TN,37660,207Q00000X
2,1134122187,1.0,None,RUDNICKE,CHERYL,DENISE,MRS.,None,CRNP,250 25TH AVE N,STE 412,NASHVILLE,TN,37203,363L00000X
3,1003819046,1.0,None,NYLANDER,BARBARA,H,None,None,M.D.,345 23RD AVE N,SUITE 209,NASHVILLE,TN,37203,207VG0400X
4,1750384780,1.0,None,PERRIGIN,JULIE,A,DR.,None,MD,219 CHURCH ST,None,DICKSON,TN,37055,207Q00000X

In [22]:
#nppes["zip"].value_counts()

### Merge nppes and zip_cbsa

In [23]:
nppes_cbsa = nppes.merge(zip_cbsa, on="zip")

In [24]:
nppes_cbsa.head()

,npi,entity_type_code,org_name,last_name,first_name,middle_name,name_prefix,name_suffix,provider_credential,address_1,address_2,city,state,zip,taxonomy_code,cbsa,tot_ratio
0,1841293891,1.0,None,GIBBS,ELMER,RICKEY,DR.,None,M.D.,49 CLEVELAND ST 310,None,CROSSVILLE,TN,38555,208600000X,18900,1.0
1,1871596403,2.0,"CUMBERLAND MEDICAL CENTER, INC.",None,None,None,None,None,None,421 S MAIN ST,None,CROSSVILLE,TN,38555,282N00000X,18900,1.0
2,1851394241,1.0,None,PATTERSON,LARRY,E.,DR.,None,M.D.,15 IRIS LN,None,CROSSVILLE,TN,38555,207W00000X,18900,1.0
3,1013911577,1.0,None,VARCAK,RONALD,JAMES,DR.,None,D.O.,133 HAYES ST,None,CROSSVILLE,TN,38555,207Q00000X,18900,1.0
4,1639175573,1.0,None,BERRY,PIERRE,KINDALL,DR.,None,D.O.,13 BOB TOLLETT LOOP,None,CROSSVILLE,TN,38555,207Q00000X,18900,1.0

In [25]:
nppes_cbsa.shape

(114912, 17)

### Taxonomy

In [26]:
db = sqlite3.connect('../data/nppes_lite.sqlite') #reopen the connection

query = """
SELECT code, grouping, classification, specialization 
FROM nucc_taxonomy
"""
taxonomy = pd.read_sql(query,db)

db.close()

In [27]:
taxonomy.head()

,code,grouping,classification,specialization
0,193200000X,Group,Multi-Specialty,None
1,193400000X,Group,Single Specialty,None
2,207K00000X,Allopathic & Osteopathic Physicians,Allergy & Immunology,None
3,207KA0200X,Allopathic & Osteopathic Physicians,Allergy & Immunology,Allergy
4,207KI0005X,Allopathic & Osteopathic Physicians,Allergy & Immunology,Clinical & Laboratory Immunology

### Merge Taxonomy to nppes

In [28]:
nppes_cbsa_tax = nppes_cbsa.merge(taxonomy, left_on='taxonomy_code', right_on='code')

In [29]:
nppes_cbsa_tax.shape

(114912, 21)

In [30]:
nppes_cbsa_tax['entity_type_code'] = nppes_cbsa_tax['entity_type_code'].astype(int)

In [31]:
nppes_cbsa_tax.head()

,npi,entity_type_code,org_name,last_name,first_name,middle_name,name_prefix,name_suffix,provider_credential,address_1,address_2,city,state,zip,taxonomy_code,cbsa,tot_ratio,code,grouping,classification,specialization
0,1841293891,1,None,GIBBS,ELMER,RICKEY,DR.,None,M.D.,49 CLEVELAND ST 310,None,CROSSVILLE,TN,38555,208600000X,18900,1.0,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
1,1487647681,1,None,BROCKMAN,J B,None,DR.,None,MD,100 LANTANA RD STE 202,None,CROSSVILLE,TN,38555,208600000X,18900,1.0,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
2,1013973874,1,None,OLAECHEA,REYNALDO,A,MR.,None,MD,124 HAYES ST,None,CROSSVILLE,TN,38555,208600000X,18900,1.0,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
3,1669424107,1,None,BELL,CHRISTOPHER,M,DR.,None,M.D.,124 HAYES ST,None,CROSSVILLE,TN,38555,208600000X,18900,1.0,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
4,1073526596,1,None,FOX,MARK,ALAN,MR.,None,MD,100 LANTANA RD,SUITE 202,CROSSVILLE,TN,38555,208600000X,18900,1.0,208600000X,Allopathic & Osteopathic Physicians,Surgery,None

### Filter for Nashville cbsa only:

In [32]:
#filter for Nashville CBSA code
nash_nppes = nppes_cbsa_tax[nppes_cbsa_tax.cbsa == 34980]

In [33]:
nash_nppes.shape

(38148, 21)

In [34]:
nash_nppes.head()

,npi,entity_type_code,org_name,last_name,first_name,middle_name,name_prefix,name_suffix,provider_credential,address_1,address_2,city,state,zip,taxonomy_code,cbsa,tot_ratio,code,grouping,classification,specialization
27,1497752489,1,None,COOPER,MARK,None,None,None,M.D.,356 24TH AVE N,SUITE 400,NASHVILLE,TN,37203,208600000X,34980,1.0,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
28,1437156270,1,None,MCDOWELL,JAMES,G,None,JR.,M.D.,356 24TH AVE N,SUITE 400,NASHVILLE,TN,37203,208600000X,34980,1.0,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
29,1447257274,1,None,LYNCH,GEORGE,BRANDON,None,None,M.D.,300 20TH AVE N STE 301,None,NASHVILLE,TN,37203,208600000X,34980,1.0,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
30,1881691780,1,None,GEER,RICHARD,J,None,None,M.D.,356 24TH AVE N,SUITE 400,NASHVILLE,TN,37203,208600000X,34980,1.0,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
31,1205834777,1,None,ROBERTS,JOHN,ROBERT,None,None,M.D.,2400 PATTERSON ST,SUITE 215,NASHVILLE,TN,37203,208600000X,34980,1.0,208600000X,Allopathic & Osteopathic Physicians,Surgery,None

In [35]:
### remove useless columns
nash_nppes = nash_nppes.drop(columns=['code', 'tot_ratio','middle_name', 'name_prefix', 'name_suffix', 'address_2', 'city', 'state', 'cbsa'])

In [36]:
nash_nppes.head()

,npi,entity_type_code,org_name,last_name,first_name,provider_credential,address_1,zip,taxonomy_code,grouping,classification,specialization
27,1497752489,1,None,COOPER,MARK,M.D.,356 24TH AVE N,37203,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
28,1437156270,1,None,MCDOWELL,JAMES,M.D.,356 24TH AVE N,37203,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
29,1447257274,1,None,LYNCH,GEORGE,M.D.,300 20TH AVE N STE 301,37203,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
30,1881691780,1,None,GEER,RICHARD,M.D.,356 24TH AVE N,37203,208600000X,Allopathic & Osteopathic Physicians,Surgery,None
31,1205834777,1,None,ROBERTS,JOHN,M.D.,2400 PATTERSON ST,37203,208600000X,Allopathic & Osteopathic Physicians,Surgery,None

In [37]:
nash_nppes.shape

(38148, 12)

In [38]:
#save as new table in database called nash_nppes
db = sqlite3.connect('../data/nppes_lite.sqlite') #open connection

nash_nppes.to_sql('nash_nppes', db, if_exists = 'append', index = False) #save nashville CBSA nppes

db.close() #close connection

In [ ]:
# create a database or connect to an existing one
#db = sqlite3.connect('../data/nppes_lite.sqlite')
# if you need to edit the database...
#cursor = db.cursor()
# Drop the table and return a line that says that it's gone
#cursor.execute("DROP TABLE nash_nppes")
#print("Table dropped...")

### Explore provider_credential values

In [54]:
db = sqlite3.connect('../data/nppes_lite.sqlite') #reopen the connection

query = """
SELECT DISTINCT(provider_credential) 
FROM nash_nppes
WHERE provider_credential LIKE 'M%'
"""
test = pd.read_sql(query,db)

db.close()

In [55]:
test.shape

(754, 1)

In [56]:
test.provider_credential.unique()

array(['M.D.', 'MD', 'M.D., F.A.C.S.', 'MD/PHD', 'MD, MPH', 'MD, MMS',
       'MD, MBA', 'M. D.', 'M.D., R.V.T', 'M.D', 'M.D,', 'MD PHD',
       'MD, PHD', 'M.D., PH.D.', 'MD, MPH, CPH', 'M.D:', 'MD MPH',
       'M.D, MPH', 'M.S., M.D.', 'M.D. MSPH', 'M.D., MBA',
       'MEDICAL DOCTOR', 'MSN, FNP-BC', 'MD, MS', 'MBBS', 'M.D., M.P.H.',
       'M.D., MSC', 'MD, BSC', 'MD MBA', 'MD, MS, MPH',
       'M.B., B.S., PH.D.,', 'M.D., P.A.', 'MD, MPHTM, CTROPMED',
       'M.D., M.ED.', 'M.D.,  MTR.', 'MD, MSTR', 'MD, FAAP', 'M.D., MPH',
       'M..D.', 'M.D., M.P.H., M.B.A.', 'M.D., M.H.S.', 'MS',
       'M.D. PH.D.', 'MA, BS, CPLC, CHT', 'MS OTR/L', 'M.ED.', 'M.D>',
       'M.ED, BCBA', 'M.A., BCBA', 'M.ED', 'M.D., P.C.', 'MA',
       'MD, PHD, THD', 'M.A.', 'M.S.', 'M.S., BCBA', 'M.D., PHD',
       'M.D., M.S.', 'MD, MCLINEPI, FANZCA', 'M.D., M.ED', 'MD, FRCPC',
       'M.B.B.S; M.D.', 'MBBCH', 'M.D. , PH.D.', 'MPAS, PA-C',
       'MHS, PA-C', 'MED; PA-C', 'MSM, PA-C', 'MSM,PA-C',
       'M.S., O.D., F.A.A.O.', 'MD, MSC', 'MD, MPH, MS', 'M.D., J.D.',
       'M.D., M.S.C.I.', 'MSN, PNP', 'MSN', 'MSN, APN, CPNP', 'M.S.N.',
       'MSN, CPNP', 'MSN, CPNP-AC', 'MSN RN CPNP-AC/PC', 'MSN/PNP-BC',
       'MSN, RN, CPNP', 'MSN, APRN, CPNP', 'MSN, APN, CPNP-PC',
       'MSN, APRN, CPNP-AC', 'MSN, APRN, CPNP-PC', 'M.S., P.T., C.O.M.T',
       'MSPT', 'MPT', 'MS PT', 'MS, PT', 'M.P.T., P.T.', 'MSPT,CLT',
       'MD, MSCI', 'M.B.', 'M.D., M.P.A.', 'MD, PH', 'MSN,ACNP, CRNA',
       'MS, CRNA', 'M.ED., LPC-MHSP', 'MS, LPC, MHSP', 'M.MFT',
       'M.ED, LPC-MHSP', 'M.DIV.', 'MCJFP', 'MSW', 'MA, LPC-MHSP',
       'MA, BCCC', 'MFT', 'MA, LPC', 'M.S., NCC, LMHC', 'MACP', 'MMFT',
       'M.A., LPC-MHSP', 'MSW, LCSW', 'M.S.ED', 'MS, LPC-MHSP',
       'MED, LPC-MHSP', 'MSSW LCSW', 'M.S., LMHC, LPC-MHSP',
       'M.A.  LPC/MHSP', 'MS, LPC (TEMP.)', 'MA, LPC-MHSP (TEMP)',
       'MAE, NCC', 'MA, LSPE', 'MS LPCI', 'M.A., L.P.C.', 'M.ED, NCC',
       'MS, NCC, LPC-MHSP', 'MSSW', 'M.ED., NCC', 'M.S., PPS, PSSP',
       'M.DIV', 'MASTER OF ARTS', 'MS, MFT', 'M.S., LPC-MHSP (T)',
       'M. ED.', 'M.ED., ATR, LPC-MHSP', 'M.ED., LPC-MHSP, NCC',
       'M.ED CANIDATE', 'M.S., J.D.', 'MA, LPE', 'M.ED., M.T.S.',
       'M. ED, MMFT', 'MA, NCC', 'MS NCP', 'MA, LPC-MHSP, NCC',
       'M. DIV., LPC-MHSP', 'M.A. LPC-MHSP', 'MED LSPE', 'M. A., NCC',
       'MED, LPC-MHSP,  NCC', 'MA, SRLPE', 'MED.', 'M.A; LPC-MHSP',
       'MSMFT', 'M.S., NCC', 'M.S.W.', 'M. ED', 'M.A', 'MSCP', 'MSCMHC',
       'M.ED., LPC', 'MS,LPC', 'MA, LPC/MHSP', 'M.E.', 'M.M.F.T.',
       'M.ED. LPC-MHSP(TEMP)', 'M.A., M.ED., NCC', 'M.S., TLPC',
       'M.A, M.S, B.S', 'MA, LPC, NCC, CCMHC', 'M.A.,S.P.E.',
       'MARY  WALL', 'MS, NCC', 'MS, EDS', 'M.S.ED.', 'M.ED., CCLS',
       'MA, LMFT', 'M.A., LMHC', 'MD, MSE', 'M.D., M.B.A.',
       'M.D., MT-BC, NMT', 'M.S., P.A.-C.', 'MSM, ATC, PA-C', 'MMS, PA-C',
       'MSHS, PA-C, RRT', 'MS, PA-C', 'MSN, RNC, APNG', 'MSN ACFNPC',
       'MSN, APN, ACNP-BC', 'MSN, APRN, FNP-C', 'MSN NP',
       'MSN, AGACNP-BC', 'MSN APRN FNP-C', 'MSN, AGACNP',
       'MSN,CRNP, ANP-BC', 'M.ED., MSN', 'MSN, GNP, PMHNP',
       'MSN, CCRN, CAN, BC', 'MSN, NP-C', 'MSN,RN,APRN,BC,CNN',
       'MSNFNP-BC', 'MSN, APN, FNP-BC', 'MSN, RN, APN', 'MP-C, RN',
       'MSN, FNP', 'M.S.N., C.F.N.P.', 'MSN, APN, FNP-C',
       'MSN, APRN, FNP-BC', 'MSN, APRN, NP-C', 'MSN, RN, FNP-C',
       'MSN, APRN, BC', 'MSN, FNP, AGACNP', 'MPH, MSN, RN, FNP-BC',
       'MSN, RN FNP-BC', 'MSN, FNP-C', 'MSN APRN AGACNP FNP',
       'MSN, FNP, AG-ACNP', 'MSN APRN-BC', 'MSN, RN, FNP-BC', 'MS, FNP-C',
       'MSN, RN, APRN, NP-C', 'MSN, CNS, FNP, RN', 'MS, APN, FNP-BC',
       'MSN, FNP - NC', 'MSN,FNP,BC', 'MSN, APRN', 'MSN, APRN, BC-FNP',
       'MNSC, FNP-BC, APRN', 'MSN, RNC, APRN-BC', 'MSN-FNP',
       'MSN, RN, NP-C', 'MSN, APN', 'MSN FNP', 'MSN FNP-BC',
       'MSN, RN, APRN, FNP-C', 'MSN, APRN, CNP', 'MD, LPC-MHSP',
       'M.D. PHD', 'MD, MBA,MS', 'M.S.S.W.', 'MSSW, LCSW, BCD', 'MSSA',
       'MSW,ACSW,LCSW', 'MSW,LCSW', 'MPH, MSSW', 'MA, MSSW, LCSW',
       'M.S.W., L.C.S.W.', 'MSSW/LCSW', 'MS, LMSW', 'MSSW, LCSW',
       'MSSW, LCSW, ACSW', 'M.A., M.S.W.', 'MSSW, LCSW, RPT',
       'M.D./PH.D.', 'M.D.,PH.D.', 'M.D.06', 'M.A., HSP', 'MA, EDS, PHD',
       'M.PHARM', 'M.B.A, RPH.', 'MPHARM', 'MS CCC A', 'MA  AUDIOLOGY',
       'MS-CCC-A', 'M.A., CCC-A', 'M.C.D.', 'M.A. CCC-A', 'MCD  CCCA',
       'MS CCCA', 'MSN, CFNP, CNM', 'M.ED., RN', 'MSN.ACNP,CNOR', 'MDX',
       'MS, ATC', 'MSN, MPH, RN', 'MS, RD, LDN', 'MED, RD, LDN', 'MS, RD',
       'MS, RD, LDN, CLC', 'MS-MPH, RD, LDN', 'M.S., R.D., LDN',
       'MS, RD, LDN, CSSD.', 'MS, RD, LDN, CNSC', 'MS, RD, LDN, CDE',
       'MS, RDN', 'MS, RDN, LDN', 'MSRD, LDN', 'M.S., R.D., L.D.N',
       'MPH, RDN, LDN', 'M.P.H.,L.R.D., F.A.E', 'MPH,RDN, LDN',
       'MPH, RDN, LD', 'MS, RDN, LDN, CDE', 'MS, RD, CSSD, LDN',
       'MS RD LDN', 'MS, RDN, LD', 'M.S., R.D., L.D.N.', 'MS, MPH',
       'MS, RDN, LD, CDE', 'M.S., R.D.', 'MS., RDN., LD.', 'M.ENG., M.D.',
       'MD,PHD', 'M.D, PHD', 'MS, OTR/L', 'M.S., OTR/L', 'MOTR/L', 'MSOT',
       'MPH, OTRL', 'MS,OTR L', 'MOT, OTR/L', 'MOT', 'M.O.T., OTR/L',
       'MOT R/L', 'M.S., OTR/L, CTRS', 'MOT, OTRL', 'M.S', 'MSOTR/L',
       'MS, OT/L', 'MSOT, OTR/L', 'MOT OTRL', 'M.S., O.T.D.', 'MOT,OTR/L',
       'MOTR/L CLT', 'MS, OTR/L,MT-BC, NMT', 'MHA, OTR', 'MOT OTR/L',
       'M.O.T.', 'M.S. OTR/L', 'MS OTRL', 'MOT OTR L', 'MS OT',
       'MS, MOT,OTR', 'MS, OTR', 'MS,OTR-L', 'M.A., OTR/L',
       'MSOTR/L, PTA', 'MT-BC, TEACHING CERT', 'M.S.PHARM, D. PH.',
       'M.S., CCC-SLP', 'MS, CCC-SLP', 'MS - CCC SLP', 'MS, CFY, SLP',
       'MS,CCC-SLP', 'M.A., CCC-SLP', 'MS CCC-SLP', 'M.S. / CCC-SLP',
       'MA, CCC-SLP', 'MS CCC/SLP', 'M.S. CCC-SLP', 'MS-CCC-SLP',
       'M.S.CCC-SLP', 'M.ED., CCC-SLP', 'M.S.  CCC-SLP', 'M.A., CCC, SLP',
       'M.S., SLP-CCC', 'M.S, CCC-SLP', 'M.S SLP-CCC', 'M.S.,CCC-SLP',
       'M.ED. CCC-SLP', 'MS CF SLP', 'MED CCC SLP', 'MA CCC SLP',
       'MS CCC SLP', 'M.ED., CCC/SLP', 'M.S. CCC/SLP', 'M.A., CF-SLP',
       'M.A. SLP-CCC', 'M.A. CCC-SLP', 'M.SC., CCC-SLP', 'MA CCC-SLP',
       'M.A.,CCC/SLP', 'M.A.  CCC-SLP', 'MS - CCC -SLP',
       'MA, CCC-SLP, ATP', 'M.A, CCC-SLP, AVT', 'M.S.CCC/SLP',
       'MCDCCCSLP', 'MSCCCSLP', 'MED., CCC-SLP', 'M.S.ED., CF-SLP',
       'MCD, CCC-SLP', 'M.S., CF-SLP', 'MS-CFY SLP', 'M.ED. CCC/SLP',
       'M.S., C.C.C.-S.L.P.', 'M.S, SLP', 'M.A. CCC/SLP', 'MCD CCC-SLP',
       'MS, CF-SLP', 'M.S.P.', 'MS CCCSLP', 'M.A., M.ED.,CCC-SLP',
       'M.S.P., CCC-SLP', 'M.S. CFY-SLP', 'MS, CCC-SL', 'MSP, CCC-SLP',
       'MHS, CCC-SLP', 'MA CCC/SLP', 'MS-SLP', 'MA, CF-SLP',
       'M.A.CCC/SLP', 'MA. CCC-SLP', 'MSCCC SLP', 'M.S., CCC,SLP',
       'MS-SLP-CCC', 'M.A.,CCC', 'M.S. , CCC-SLP', 'MS., CCC-SLP',
       'MA CCCSLP', 'MCD-CF', 'MS-CCC, SLP', 'M.ED., CF-SLP', 'M.S., SLP',
       'MS-CCC/SLP', 'MCD, CFY, SLP', 'MD CCC SLP', 'MS-CF-SLP',
       'M.S. SLP-CF', 'MS-CCC,SLP', 'M.C.D., SLP-CF',
       'M.S. C.C.C.-S.L.P.', 'M.S. CF-SLP', 'MA,CCC-SLP',
       'M.S., CCC, SLP', 'MED CCCSLP', 'M.S. SLP-CFY', 'M.S. CCC',
       'M.A.CCC-SLP', 'M.S.ED., CCC-SLP', 'M.S., ED.S., CCC-SLP',
       'MS, SLP', 'M.S., CCC-SLP, BCBA', 'MSCCC-SLP', 'MA, LPC-MHSP, CPA',
       'MAPC', 'MS, NCC, LPC', 'M.S. LPC/MHSP', 'MS.', 'MS LPE',
       'M.ED, LPC-MHSP, NCC', 'M.ED. LPC', 'M.A., L.P.C./M.H.S.P',
       'M.S., LPC-MHSP', 'M. ED., NCC, LPC', 'MS, LPC-MHSP, NCC',
       'M.S.N., L.P.C.', 'M ED', 'MASTER OF SCIENCE', 'MA, LPC-MHSP (T)',
       'MA,SSP,LPC-MHSP (T)', 'MS, LPC (TEMP)', 'MA, LPC, SRPE',
       'MC,LPC-MHSP,NCC', 'MED., LPC-MHSP', 'M.ED., NCC, LPC/MHSP',
       'M.ED., LPC, CTS', 'M.P.S., LPC,MHSP', 'MA NCC LPC-MHSP',
       'M.M.F.T.; LPC- MHSP', 'MED, MTS, LPC-TEMP', 'M.A., LPC/MHSP',
       'MA, NCC, LPC-MHSP', 'M.A., S.L.P.E.', 'MCOUN', 'MA LPC NCC',
       'M.ED, LPC', 'MAMFT', 'MAR, LPC-MHSP', 'MA LPC', 'M.ED. LPC-MHSP',
       'MS LPC MHSP', 'M.S., SPE', 'MMFT, LPC-MHSP', 'M.A., LPC, NCC',
       'MA, LPC, MHSP', 'MS,', 'M.A., SR. LPE', 'M.A., PSY.D.',
       'M.A., LPC, RD, LD', 'MED, ATC', 'MS,ATC,LMT', 'MS, ATC, NSCA-CPT',
       'M.S., ATC, LAT', 'MS, ATC, LAT', 'MED, ATC/L', 'MS,ATC',
       'M.ED., ATC, LAT', 'MS, ATC,', 'MHR, ATC', 'MS ATC',
       'MAT, MS, LAT, ATC', 'MS, ATC/L', 'MAE, ATC, LAT', 'MSE, ATC',
       'MSES, LAT, ATC', 'MAE, LAT, ATC', 'MS, ATC, OTC, SA-C',
       'MS, LAT, ATC', 'M.S., ATC/L, CSCS', 'MS, LAT, ATC, CSCS',
       'M.S., ATC', 'MS, ATC-L', 'MS, ATC, CSCS', 'M.ED., ATC, LAT, CES',
       'MS ATC LAT', 'MSN, FNP-C, APRN', 'MSN/FNP/ AHNP', 'MMFC/T',
       'MMFT, MBA', 'M.A.,LMFT. LPC, MHSP', 'M.S. MFT', 'MMFT, CCLS',
       'M.S., LMFT', 'MMFT, LMFT', 'MFTA', 'M.A., LMFT', 'MMFT, LMT',
       'M.DIV., MMFT', 'MMFT, TLPC-MHSP', 'M.ED., B.C.B.A.', 'M.A. BCBA',
       'M.A. SPED. M.S. BCBA', 'MS, BCBA', 'MAT, BCBA, LBA',
       'M. ED., BCBA', 'MS, BCBA, LBA', 'M.ED., BCBA', 'MS BCBA',
       'M.A., B.C.B.A.', 'M.ED. BCBA', 'MS, LBA, BCBA', 'MA, BCBA',
       'MED, BCBA', 'M.E.D., BCBA', 'M.ED., LBA, BCBA', 'M.A., BCBA, LBA',
       'M.S., BCBA, PPSC', 'MSCCC, BCBA', 'M.A.,  M.S., BCBA',
       'M.S E.D BEHAVIORIST', 'MMFT, BCBA', 'MSED, BCBA', 'MA, BCBA, LBA',
       'ME', 'MASSAGE THERAPIST', 'M.T.', 'MSN, PMHNP-BC',
       'M.S.N., A.P.N', 'MSN, APRN, PMHNP-BC', 'M.S.N., A.P.N., B.C.',
       'MSN, RN, APRN, BC', 'MSN, RN, BS', 'MSN, APN, PMHNP-BC',
       'MSN, APRN-BC', 'M.ED./ED.S., MSN', 'MSN, RN, PMHNP-BC', 'MHNP',
       'M.D.,', 'MD, FCCP', 'MBBS,OPA-C,CSFA', 'MBA', 'MB., B. CH.',
       'M.D., C.M.', 'MD, MS, FIPP', 'M.B.B.S.', 'MSSW, CMSW', 'MSW CSW',
       'M.S.W', 'MSW  MASTER SOCIAL W', 'M.ED., LMSW', 'M.S.S.W',
       'MB CHB', 'M.D.,PHD', 'MD, PLLC', 'M.D.PHD', 'M.D., PH.D',
       'M. D., D. D. S', 'MD, DMD', 'M.B.CH.B.', 'MS, GC', 'MS LCGC',
       'MS, CGC', 'M.S., C.G.C.', 'MS, CGC, LGC', 'MGC',
       'MAT, MS, MPH, LCGC', 'MS, LCGC', 'M.S., L.C.G.C.', 'MD MSCI',
       'M.B.B.S', 'M.D,, PH.D', 'MSN, APRN-BC, CNN', 'MSN, RN, APRN-BC',
       'MSN, RN, ACNP-BC', 'MSN, ACNP-BC', 'M.S.N., A.P.R.N.',
       'MSN, AG-ACNP-BC', 'MSN, APRN, AGACNP-BC', 'MS, APRN, AGACNP-BC',
       'MSN, RN, AGACNP-BC', 'MSN, ACNP, RN', 'MSN ACNP BC',
       'MSN. RN, ACNP-BC', 'MSN, BSN, RN, AGACNP', 'MSN, RN, AG-ACNP',
       'MSN, CRNP', 'MSN, APRN, AG-ACNP', 'MSN, ACNP', 'MSN, ANP-BC',
       'MD PC', 'MD, DDS', 'MD, MA, FAAP, FACS', 'MD/MPH', 'MSN, WHNP-BC',
       'MED, MSN, WHNP-BC,', 'M.S.N., WHNP, AGPCNP', 'MSN, RNC, APN WHNP',
       'MRC, CRC, BCBA', 'M.D., M.S., M.S.P.H.', 'MD,JD,MS, FASAM',
       'MD, PH.D', 'M.D., FACP,DCMT', 'M.D, PH.D.', 'MA, SR.LPE',
       'MED. LPC MHSP', 'M.ED, MA, LPC, NCC', 'MED', 'MSSW, LMSW',
       'MS CRC', 'M.A. M.DIV', 'MA. MT-BC', 'M.ED , LPSC', 'M.C.J.',
       'M.A., M.A.', 'M.ED, M.A.', 'M DIV', 'MS COUNSELING', 'MA LPE',
       'M.A. EDS', 'M.S., M.T.S', 'M.AC., L.AC.', 'MSOM, DIPL ACU, LAC',
       'M.AC.', 'MSOM, LAC', 'MACOM', 'MD, DDS, PHD', 'M.D., PH. D.',
       'MB BCH BAO', 'M.B., B.S.', 'M.D., M.P.H', 'M.D.,M.S.', 'MD,MPH',
       'MD, JD', 'MBBS, MPH', 'MD,MBA', 'MD, MPP', 'M.D, M.SC.',
       'MD, MHA', 'MBCHB', 'MD , MPH', 'MD, PDD', 'MD MS PH',
       'MD, JD, MSPH', 'MBBS, MPH, DRPH', 'MSN,RN,ANP-BC,ACHPN',
       'MSN, ANP, BC', 'MSN, ANP-BC, GNP', 'MSN RN',
       'M.S.N., R.N., ANP-BC', 'MSN, WHNP-BC, ANP-BC',
       'MSN, APN, A/GNP-BC', 'MSN, APN, BC', 'MS, ANP, BC, ACHPN',
       'MSN, AGPCNP-BC', 'MSN, ANP-C', 'MSC, MSN, ANP-BC', 'MSN NP-C',
       'MD, PHD, DSC', 'MS., LDN, CLC', 'M.D., F.A.C.C.', 'M.A. ED',
       'MD, MSCI, MMHC', 'M.D., D.D.S.', 'MSN ACNS-BC', 'MSN APN NNP BC',
       'MSN  NNP-BC', 'MSN, APRN, NNP-BC', 'MS, APRN, NNP-BC',
       'M.D. M.P.H.', 'MSN, CNM, WHCNP, APN', 'MSN, CNM',
       'MSN, APRN, CNM', 'MIDWIFE; CNM,APN', 'MSN, CNM,FNP', 'MSN, GNP',
       'MSN, AGNP-C', 'MSN, AG-ACNP', 'MS, CCP', 'MSN, RNC, APN - NNP',
       'MSN, RNC, NNP', 'MSN, RNC, NNP, APN', 'MSN, CPNP, NNP-BC',
       'M.D., PHD.', 'M.D., MSCI', 'MS, RD, CSR, LDN',
       'MSN, FNP, PMH-CNS', 'MS, MA', 'MPH', 'MAE, ATC,LAT', 'MD, MSPH',
       'MD, PHD, ABCN, ABPN', 'MSN, APRN, ANP', 'MA, LPC-MSHP (TEMP)',
       'MS PSYCHOLOGY', 'M.A., CAI', 'M.A., LADAC, MAC', 'MSSW, LADAC',
       'MA, LADAC', 'MS, LADAC II', 'M.A., PHD, CCJP', 'M.ED, LADAC II',
       'MDIV LADAC', 'M.P.T.', 'MSN, CPNP-AC, APN', 'MDIV',
       'MDIV, MMFT, LCPT', 'M.DIV., PSY.D.', 'MSN, PMHCNS, BC',
       'MSN, PMHNP', 'M.D., M.SC.', 'MSW,SWP', 'MS, RD, CNSC',
       'MA, CD(DONA), LCCE', 'M.D., B.S.', 'MD SM', 'M.D., PH.D., M.P.H.',
       'MA,BS,RN', 'MS, OTR/L, CDRS', 'M.S. BCBA', 'MS; DIDS APPROVED BA',
       'M.B.B.S., M.D.', 'M.D, MRCP, FCPS', 'MT-BC, LCAT', 'MMT, MT-BC',
       'MT-BC', 'MTBC', 'MM, MT-BC', 'MS, RD, LD', 'M.D., J.D., PH.D.',
       'MBA, BSRT (R)'], dtype=object)