In [1]:
import pandas as pd
import sqlite3

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [3]:
db = sqlite3.connect('../data/nppes_lite.sqlite') #reopen the connection

query = """
SELECT * 
FROM hop_team
"""
hop_team = pd.read_sql(query,db)

db.close()

In [4]:
hop_team.head()

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1033142146,1000000004,491,535,10.232,36.558
1,1013977990,1003000126,134,145,27.352,51.137
2,1013996669,1003000126,91,92,35.152,68.009
3,1033102504,1003000126,52,64,15.328,38.300
4,1003029620,1003000126,111,121,33.058,58.981

In [5]:
hop_team.shape

(31704890, 6)

### Overlaps hop_team with npi from and to:

In [15]:
db = sqlite3.connect('../data/nppes_lite.sqlite') #reopen the connection

query = """
    SELECT *
    FROM hop_team
    WHERE from_npi IN(
        SELECT DISTINCT(npi)  
        FROM nash_nppes
        WHERE entity_type_code == 1)
    AND to_npi IN(
        SELECT DISTINCT(npi)
        FROM nash_nppes
        WHERE entity_type_code == 2)
"""

hops = pd.read_sql(query,db)

db.close()

In [16]:
hops.shape

(41127, 6)

In [17]:
hops.head()

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1003963976,1003028770,2535,3945,0.000,0.000
1,1033246640,1003863580,58,58,45.603,56.574
2,1033215157,1003863580,124,126,22.833,53.329
3,1023223898,1003863580,1739,1872,0.169,5.185
4,1023253549,1003863580,34,53,31.887,50.676

In [18]:
#save as new table in database called nash_nppes
db = sqlite3.connect('../data/nppes_lite.sqlite') #open connection

hops.to_sql('nash_hop_team', db, if_exists = 'append', index = False) #save nashville hop_team

db.close() #close connection

In [14]:
# create a database or connect to an existing one
#db = sqlite3.connect('../data/nppes_lite.sqlite')
# if you need to edit the database...
#cursor = db.cursor()
# Drop the table and return a line that says that it's gone
#cursor.execute("DROP TABLE nash_hop_team")
#print("Table dropped...")

OperationalError: no such table: nash_hop_team

In [ ]:
hop_team_hospital = hop_team_final[hop_team_final["entity_type_code"] == 2]

In [ ]:
hop_team_hospital.head()

In [ ]:
hop_team_hospital[hop_team_hospital["org_name"] == "VANDERBILT UNIVERSITY MEDICAL CENTER"]